<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- importando a font principal -->
    <%- include('./partials/mainFont') %>
    <!-- importando configurações HEAD e BootstrapCDN -->
    <%- include('./partials/head') %>

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/menuHamburguer.css" />
    <link rel="stylesheet" href="/css/medias.css" />

    <link rel="stylesheet" href="/css/carrinho.css" />

    <title>Carrinho</title>
  </head>
  <body>
    <!-- importando o header da pasta partials -->
    <%- include('./partials/header') %>

    <div class="shopping-cart">
      <!-- Title -->
      <div class="title" id="footer">Carrinho</div>
      <hr />

      <!-- Product #1 -->
      <% produtos.forEach( item => { %>
      <div class="item">
        <div class="image">
          <img
            width="180"
            height="110"
            src="/posts/<%= item.imagem %>"
            alt=""
          />
        </div>

        <div class="description">
          <span><%= item.nome %></span>
          <span><%= item.descricao %> </span>
        </div>

        <div class="quantity">
          <button class="minus-btn" type="button" name="button">
            <img src="/img/minus.svg" alt="" />
          </button>
          <input class="number" type="text" name="name" value="1" />
          <button class="plus-btn" type="button" name="button">
            <img src="/img/plus.svg" alt="" />
          </button>
        </div>

        <div class="total-price">$ <%= item.preco %></div>

        <div class="buttom-delete">
          <span class="delete-btn"></span>
          <img src="/img/x.svg" alt="" />
        </div>
      </div>
      <hr />
      <% }) %>

      <div class="confirm">
        <button class="confirm-btn" type="submit">Confirmar</button>
      </div>
    </div>

    <!-- importando o footer da pasta partials -->
    <%- include('./partials/footer') %>
  </body>
</html>
