<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- importando a font principal -->
    <%- include('./partials/mainFont') %>
    <!-- importando configurações HEAD e BootstrapCDN -->
    <%- include('./partials/head') %>

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/menuHamburguer.css" />
    <link rel="stylesheet" href="/css/medias.css" />

    <link rel="stylesheet" href="/css/carrinho.css" />

    <title>Carrinho</title>
  </head>
  <body>
    <!-- importando o header da pasta partials -->
    <%- include('./partials/header') %>

    <div class="shopping-cart">
      <!-- Title -->
      <div class="title" id="footer">
        <img src="/img/shopping-cart-2.png" /> Produtos adicionados ao carrinho
      </div>
      <hr />

      <!-- Product #1 -->
      <% for (let item of produto) {%>
      <form method="POST" class="form" action="/carrinho">
        <input type="text" name="produtoId" value="<%= item.id %>" hidden />
        <div class="item">
          <div class="image">
            <img
              width="180"
              height="110"
              src="/posts/<%= item.imagem %>"
              alt=""
            />
          </div>

          <div class="description">
            <span><%= item.nome %></span>
            <span><%= item.descricao %> </span>
          </div>

          <div class="quantity">
            <button
              class="minus-btn"
              type="submit"
              name="minusBtn"
              onclick="decrement('<%=item.id%>')"
            >
              <img src="/img/minus.svg" alt="" />
            </button>

            <input
              readonly
              class="number"
              id="number-<%=item.id %>"
              type="text"
              name="quantidade"
              value="<%= item.quantidade %>"
            />
            <button
              class="plus-btn"
              type="submit"
              name="plusBtn"
              onclick="increment('<%=item.id%>')"
            >
              <img src="/img/plus.svg" alt="" />
            </button>
          </div>

          <div class="total-price">
            $
            <input
              readonly
              name="finalPrice"
              type="text"
              class="final-price"
              value="<%= item.preco %>"
            />
          </div>

          <div class="buttom-delete">
            <button
              class="delete-btn"
              type="submit"
              name="deleteBtn"
              form="item-delete-<%=item.id%>"
            >
              <img src="/img/x.svg" alt="" />
            </button>
          </div>
        </div>
        <hr />
      </form>
      <form
        method="POST"
        id="item-delete-<%=item.id%>"
        action="/carrinho/delete/<%=item.id%>"
      ></form>

      <% } %>

      <div class="confirm">
        <button class="confirm-btn" type="submit">Confirmar</button>
      </div>
    </div>

    <!-- importando o footer da pasta partials -->
    <%- include('./partials/footer') %>
    <script src="/javascripts/carrinho.js"></script>
  </body>
</html>
