<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- importando configurações HEAD e BootstrapCDN -->
    <%- include('./partials/head') %>
    <!-- importando a font principal -->
    <%- include('./partials/mainFont') %>

    <link rel="stylesheet" text="text/css" href="/css/styles.css" />
    <link rel="stylesheet" text="text/css" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/menuHamburguer.css" />
    <link rel="stylesheet" href="/css/medias.css" />

    <title>Menu</title>
  </head>
  <body>
    <!-- importando o header da pasta partials -->
    <%- include('./partials/header') %>

      <div class="wrap">
        <div class="title">
          <h1>M e n u</h1>
        </div>
      </div>

    <main>
      <% for (let burguerSingular of produtos) {%>
      <span class="cardapio">
        <span class="topCard">
          <img
            src="/img/1-hamburguer.png"
            class="hamburguerImg"
            alt="hamburguer"
          />
          <h2><%= burguerSingular.nome %></h2>
          <p><%= burguerSingular.descricao %></p>
        </span>
        <span class="bottomCard">
          <h1>
            <%=burguerSingular.preco.toLocaleString('pt-br', {
            minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) %>
          </h1>
          <button>Adicionar</button>
        </span>
      </span>
      <% } %>
    </main>

    <!-- importando o footer da pasta partials -->
    <%- include('./partials/footer') %>
  </body>
</html>
